/* Style for the slideshow container */
.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
  }
  /* Style for the slideshow images */
    .slideshow-container img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    }

  /* Style for the previous and next buttons */
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    font-weight: bold;
    padding: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  /* Position the previous button to the left */
  .prev {
    left: 0;
  }
  /* Position the next button to the right */
  .next {
    right: 0;
  }